@charset "UTF-8";
.main-container {
  position: relative;
}

.main-container .section-containerFramework {
  min-height: 100vh;
}

.main-container .section-containerFramework #section-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.main-container .section-containerFramework #section-container .section-Top-title {
  position: absolute;
  top: 10rem;
  color: #f7e707;
  font-size: 3.3rem;
  z-index: 1;
  font-family: "Martel", serif;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #0004);
}

.main-container .section-containerFramework #section-container .section-Top-title .section-Top-title-list {
  margin-right: 1rem;
  opacity: 0;
}

.main-container .section-containerFramework #section-container .section-container-video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  /* 階調反転させる */
}

.main-container .section-containerFramework #section-container .section-product-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-main {
  position: absolute;
  top: 40%;
  width: 40%;
  margin-left: 6rem;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-main .section-product-title {
  font-size: 2rem;
  font-family: "Martel", serif;
  width: 100%;
  text-align: center;
  color: #101113;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-main .product-Paragraph {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#a9b0c0));
  background: linear-gradient(to right, white, #a9b0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
  width: 100%;
  font-weight: 600;
  max-width: 25rem;
  margin: 3rem auto;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs {
  position: relative;
  top: 20rem;
  height: 50%;
  width: 50%;
  margin-left: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img {
  position: absolute;
  top: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
  cursor: pointer;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(1) {
  opacity: 0;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(2) {
  opacity: 0;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(3) {
  opacity: 0;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(4) {
  opacity: 0;
}

.main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(5) {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */