.main-container {
  position: relative;
  & .section-containerFramework {
    min-height: 100vh;
    & #section-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      z-index: 1;
      & .section-Top-title {
        position: absolute;
        top: 10rem;
        color: rgb(247, 231, 7);
        font-size: 3.3rem;
        z-index: 1;
        font-family: "Martel", serif;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        font-weight: bold;
        -webkit-box-reflect: below -20px linear-gradient(transparent, #0004);
        & .section-Top-title-list {
          margin-right: 1rem;
          opacity: 0;
        }
      }
      & .section-container-video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: invert(100%); /* 階調反転させる */
      }
      & .section-product-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        & .section-product-main {
          position: absolute;
          top: 40%;
          width: 40%;
          margin-left: 6rem;
          opacity: 0;
          display: flex;
          flex-direction: column;
          & .section-product-title {
            font-size: 2rem;
            font-family: "Martel", serif;
            width: 100%;
            text-align: center;
            color: rgb(16, 17, 19);
          }
          & .product-Paragraph {
            background: linear-gradient(to right, white, rgb(169, 176, 192));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.1rem;
            width: 100%;
            font-weight: 600;
            max-width: 25rem;
            margin: 3rem auto;
          }
        }
        & .section-product-imgs {
          position: relative;
          top: 20rem;
          height: 50%;
          width: 50%;
          margin-left: auto;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          & .product-img {
            position: absolute;
            top: 0;
            object-fit: scale-down;
            height: 100%;
            cursor: pointer;
            &:nth-child(1) {
              opacity: 0;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              opacity: 0;
            }
            &:nth-child(4) {
              opacity: 0;
            }
            &:nth-child(5) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
