@media screen and (max-width: 500px) {
  .header {
    // min-height: 87vh;
    nav {
      & #logo {
        width: 4.5rem;
      }
      & .header-right {
        grid-column: 6/7;
        height: 100%;
        width: 60px;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        & .mobile-menu__btn {
          background-color: transparent;
          border: none;
          outline: none !important;
          cursor: pointer;
          margin: auto;
          & span {
            background-color: black;
            width: 28px;
            height: 3px;
            display: block;
            margin-bottom: 4px;
            -webkit-transition: -webkit-transform 0.7s;
            transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
            transition: transform 0.7s, -webkit-transform 0.7s;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        
        // .menu-open {
        //   background-color: black;
        // }
        
        // .menu-open .mobile-menu__btn > span:nth-child(1) {
        //   -webkit-transition-delay: 70ms;
        //   transition-delay: 70ms;
        //   -webkit-transform: translateY(5px) rotate(135deg);
        //   transform: translateY(5px) rotate(135deg);
        // }
        
        // .menu-open .mobile-menu__btn > span:nth-child(2) {
        //   -webkit-transform: translateX(-18px) scaleX(0);
        //   transform: translateX(-18px) scaleX(0);
        // }
        
        // .menu-open .mobile-menu__btn > span:nth-child(3) {
        //   -webkit-transition-delay: 140ms;
        //   transition-delay: 140ms;
        //   -webkit-transform: translateY(-7px) rotate(-135deg);
        //   transform: translateY(-7px) rotate(-135deg);
        // }
        
      }
      // & .grid-column {
      //   display: none;
      // }
    }
    .bannerSection {
      display: block;
    }
    .headline {
      font-size: 50px;
    }
    .hero-section {
      top: 5%;
      bottom: 5%;
    }
  }
  .slider {
    height: 87vh;
    display: none;
  }
  .section-Top-title {
    font-size: 2rem;
  }
  .section-product-container {
    & .section-product-main {
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 1;
      display: flex;
      flex-direction: column;
      z-index: 2;
      width: 80%;
      margin-left: 0rem;
      & .section-product-title {
        font-size: 1.7rem;
      }
      & .product-Paragraph {
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
      }
    }
    & .section-product-imgs {
      margin-left: 0;
      left: 10%;
      & .product-img:nth-child(1) {
        opacity: 1;
      }
    }
  }
  .shoes-container {
    min-height: 330vh;
    & .shoes-box {
      & .shoes-Hcontainer {
        min-height: 7%;
        width: 270px;
        & .shoes-h1TopContainer {
          & .shoes-h1 {
            animation: typing 10s steps(8) infinite;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              width: 1.3rem;
              height: 2px;
              background: black;
              /* animation: blinkCursor 0.8s steps(3) forwards 4; */
              animation: blinkCursor 0.8s steps(3) forwards infinite;
            }
          } 
          & .shoes-h1Top {
            font-size: 1.8rem;
            letter-spacing: 1.045rem;
          }
        }
        & .shoes-h2TopContainer {
          & .shoes-h1 {
            animation: typing 10s steps(8) infinite;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              width: 1.3rem;
              height: 2px;
              background: black;
              /* animation: blinkCursor 0.8s steps(3) forwards 4; */
              animation: blinkCursor 0.8s steps(3) forwards infinite;
            }
          }
          & .shoes-h1Second {
            font-size: 1.8rem;
            letter-spacing: 1.045rem;
          }
        }
      }
    }
    & .card-list-container {
      min-width: 0%;
      & .card {
        width: 100%;
        margin: 20px auto;
        &:nth-of-type(1) {
          transform: translate(-120%, 0%);
        }
        &:nth-of-type(2) {
          transform: translate(120%, 0%);
        }
        &:nth-of-type(3) {
          transform: translate(-120%, 0%);
        }
        &:nth-of-type(4) {
          transform: translate(120%, 0%);
        }
        &:nth-of-type(5) {
          transform: translate(-120%, 0%);
        }
        &:nth-of-type(6) {
          transform: translate(120%, 0%);
        }
      }
    }
  }
}