@charset "UTF-8";
@media screen and (max-width: 664px) {
  .header nav .grid-column {
    display: none;
  }
  .header nav .mobile-menu {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9/10;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .headline {
    top: 70%;
    font-size: 3rem;
  }
  .main-container {
    position: relative;
  }
  .main-container .section-containerFramework {
    min-height: 100vh;
  }
  .main-container .section-containerFramework #section-container .section-Top-title {
    font-size: 2rem;
  }
  .main-container .section-containerFramework #section-container .section-product-container .section-product-main {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    width: 80%;
    margin-left: 0rem;
  }
  .main-container .section-containerFramework #section-container .section-product-container .section-product-main .section-product-title {
    font-size: 1.7rem;
  }
  .main-container .section-containerFramework #section-container .section-product-container .section-product-main .product-Paragraph {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }
  .main-container .section-containerFramework #section-container .section-product-container .section-product-imgs {
    margin-left: 0;
    left: 10%;
  }
  .main-container .section-containerFramework #section-container .section-product-container .section-product-imgs .product-img:nth-child(1) {
    opacity: 1;
  }
  .main-container .shoes-container .shoes-box .shoes-Hcontainer {
    width: 270px;
    height: 100px;
  }
  .main-container .shoes-container .shoes-box .shoes-Hcontainer .shoes-h1TopContainer .shoes-h1 {
    border-right: 0.1em solid black;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 7s steps(21, end), blink-caret 0.5s step-end infinite alternate;
    font-size: 1.8rem;
  }
  .main-container .shoes-container .shoes-box .card-list .card-list-container .card {
    height: 280px;
    width: 245px;
  }
  .main-container .shoes-container .shoes-box .card-list .card-list-container .card .card-header .card-header-Title {
    font-size: 0.8rem;
    height: 30px;
  }
  /* フッターレスポンシブデザイン */
  footer {
    display: none;
  }
  .footerR {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .header nav #logo {
    width: 5.5rem;
  }
  .header nav .grid-column {
    font-size: 0.8rem;
  }
  .header .headline {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1390px) {
  .main-container .shoes-container .shoes-box .card-list .card-list-container {
    width: 1030px;
  }
}
/*# sourceMappingURL=mobile.css.map */